/* esto me hace falta para debugging */
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(126, 121, 194);
    border-radius: 25px;
    gap: 125px;

}

.carusel-contenedor {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(126, 121, 194);
    border-radius: 25px;
    margin-top: auto;
}

.carusel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.navbar-container {
    height: 30px;
    display: flex;
    padding: 30px;
    align-items: center;
    border: 5px solid rgb(126, 121, 194);
    border-radius: 25px;
    margin-top: 10px;
    box-sizing: border-box;
}

.navbar-container button {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    height: 30px;
    width: 80px;
    font-size: 16px;
    background-color: rgb(203, 128, 231);
    border: none;
    cursor: pointer;
    transition: background-color 300ms, transform 300ms;
}

.navbar-container button:hover {
    background-color: rgb(194, 164, 239);
    transform: scale(0.95);
}

/* comportamiento de los cards para los mangas */
.manga-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 400px;
    width: 300px;
    margin: 10px;
    border-radius: 25px;
    transition: transform 300ms;
    background-color: rgb(203, 128, 231);
}

.manga-card:hover {
    transform: scale(0.95)
}

.manga-card:active {
    transform: scale(0.90);
    /* background-color: royalblue; */
}

/* ---- FLEX ---- */
.manga-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


/* ---- GRID ---- */
/* .manga-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
} */

/* .one {

    grid-column: 1;
    grid-row: 1;
}

.two {

    grid-column: 2;
    grid-row: 1;
}

.three {

    grid-column: 3;
    grid-row: 1;
}

.four {

    grid-column: 4;
    grid-row: 1;
}

.five {

    grid-column: 5;
    grid-row: 1;
} */

/* ---- fin GRID ---- */

.input-search-manga {
    width: 600px;
    height: 30px;
    font-size: 20px;
    border-radius: 25px;
    padding-left: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 5px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: rgb(233, 151, 247);
    border-radius: 25px;
    margin-bottom: 5px;
    border: 2px solid black;
}

.titulo {
    font-size: 100px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-style: Lobster, serif;
    font-family: 'Lobster', serif;
    color: rgb(247, 239, 248);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(97, 57, 116);
}


.recomendados {
    font-size: 30px;
    font-style: Lobster, serif;
    font-family: 'Lobster', serif;
    color: rgb(97, 57, 116);
    margin-top: 300px;
    margin-bottom: auto;

}

.Logo {
    height: 100px;
    width: 100px;
    margin-left: 165px;
    animation: rotate 500ms linear alternate;
}

.Anterior {
    height: 50px;
    ;
    width: 50px;
    margin-left: 0;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.596);
    border-radius: 10px;
}

.Siguiente {
    height: 50px;
    ;
    width: 50px;
    margin-left: auto;
    margin-right: 0;
    background-color: rgba(255, 255, 255, 0.596);
    border-radius: 10px;
}

.Anterior:hover {
    transform: scale(0.95)
}

.Siguiente:hover {
    transform: scale(0.95)
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* @keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
        
    }
} 
    */