.form_manga {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 2px solid black;
    border-radius: 25px;
    background-color: azure;
    padding: 20px;
}

.form_manga input{
    border-radius: 25px;
    height: 30px;
    margin-bottom: 10px ;
}

.form_manga textarea {
    border-radius: 25px;
}

.form_manga button {
    border-radius: 25px;
    height: 35px;
    width: 100px;
    margin-top: 10px;
    background-color: rgb(233, 151, 247);
    border: 2px solid black;
    font-size: 16px;
    cursor: pointer;
}